/*imports*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* common styles */
.more-link {display:none;}
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0C223C;
  overflow-x: hidden; 
}
p, tbody {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
}
thead {
  font-size: 16px;
}
#primary .display-grid {
	display: grid;
	align-content: center;
}

#primary p, #primary {
  color: #35567D;
}
.h100vh {
  height: 100vh;
}
.sh2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
}
.t-col-w {
  color: #FFFFFF;
}
.t-col-b {
  color: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  ;
}
.mb50 {
	margin-bottom: 50px;
}
.mb100 {
	margin-bottom: 100px;
}
.p5px {padding: 5px;}
.shadow1 {
  box-shadow: 0 0 3px 1px rgba(221, 221, 221, 1);
}
.shadow2 {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.shadow-bottom{box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);}
.btn:hover {
  color: #fff;
  -webkit-box-shadow: 100px 100px 100px 100px rgba(182, 182, 182, 0.2) inset;
  -moz-box-shadow: 100px 100px 100px 100px rgba(182, 182, 182, 0.2) inset;
  box-shadow: 100px 100px 100px 100px rgba(182, 182, 182, 0.2) inset;
}
.content-person .post-thumbnail { text-align: center; }
.content-person p:first-child { 
  text-align: center; 
  font-size: 1.5rem;
}
/* wp galery */
.wp-block-gallery .blocks-gallery-item {
  padding: 1rem;
}
.wp-block-gallery .blocks-gallery-item > figure {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* breadcrumbs*/
.kama_breadcrumbs {
  font-size: 14px;
}
.kama_breadcrumbs a {
  color: #BACED0;
  text-decoration: none;
}
/* header area styles */
#header {font-family: Roboto;}
.header_info {
  background-color: #0C223C;
  color: #fff;
}
.header_info .navbar {
  padding-top: 7px;
  padding-bottom: 7px;
}
.header_info_search form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.header_info_search input {
  max-width: 356px;
  width: 100%;
  height: 26px;
  padding-left: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #9E9C9C;
}
.header_info_search button {
  position: absolute; 
  top: 0;
  width: 26px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
}
.header_info_search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #0C223C;
}
.header_info_contacts {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.hic_tel a {
    text-decoration: none;
    color: #fff;
}

.header_info_links {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #4DDFFF;
  display: flex;
}
.header_info_links span {padding-left: 3px; }
#header a.bvi-link-widget, #header a.bvi-link-shortcode {
    color: #4DDFFF !important;
    background-color: #0C223C !important;
}
#header .header_info_links a.bvi-link-shortcode:hover {color:#fff !important;}

.btn-wr {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: .75rem 2rem;
}
#header .h_logo a {
	text-decoration: none;
	color: #35567D;
}
.h_logo_text {
  padding-left: 10px;
  max-width: 310px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #35567D;
  white-space: normal;
}
#header .navbar-light .navbar-nav .nav-link {
  color: #0C223C;
  font-size: 16px;
}
#header .navbar-light .navbar-nav .nav-link:hover {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
}
.header_baner {
  background: rgb(126,182,229);
  background: linear-gradient(90deg, rgba(126,182,229,1) 0%, rgba(84,114,166,1) 100%);
  
}
.h_b_line {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  height: 150px;
}
.h_b_line .hbl_wrap {
  height: 100%;
}
.hbl_item {
  height: 100px;
  width: 170px;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(15, 52, 90, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: #436DFF;
  font-size: 30px;
}
.hbl_item {
  color: #0C223C;
  text-decoration: none;
}
.hbl_item a {
  text-decoration: none;
}
.hbl_item:hover {
  background-color: #4DDFFF;
}
.hbli_wrap {
  width: 100%;
  height: 100%;
}
.hbl_item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #0C223C;
  text-decoration: none;
}
.hbl_item:hover p {
  color: #fff;
}
.hbl_item .img-icon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.hbl_item .img-trophy {
  background-image: url('../img/trophy.png');
}
.hbl_item:hover .img-trophy {
  background-image: url('../img/w-trophy.png');
}
.hbl_item .img-group {
  background-image: url('../img/group.png');
}
.hbl_item:hover .img-group {
  background-image: url('../img/w-group.png');
}
.hbl_item .img-invoice {
  background-image: url('../img/invoice.png');
}
.hbl_item:hover .img-invoice {
  background-image: url('../img/w-invoice.png');
}
.hbl_item .img-watch {
  background-image: url('../img/watch.png');
}
.hbl_item:hover .img-watch {
  background-image: url('../img/w-watch.png');
}
.hbl_item .img-contract {
  background-image: url('../img/contract.png');
}
.hbl_item:hover .img-contract {
  background-image: url('../img/w-contract.png');
}
.hbl_item .img-palace {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;

}
/* breadcrumbs */
.breadcrumbs {
  padding: 2rem 1rem;
}
/* content styles */
.posted-on a {
	text-decoration: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #BACED0;
}
#main {
  /*background-color: #E5E5E5;*/
}

/* Main page viget*/
#informers {
  position: fixed;
  right: 0;
  top: 35%;
  z-index: 999;
  max-width: 350px;
}
#informers .og-widget {
  position: relative;
  background-color: #fff;
  padding: 15px 20px;
  width: 320px;
  height: 133px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#informers .og-widget::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 240px;
  background-image: url('../img/informer-ramka.png');
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  left: -20px;
  top: -50px;
}
#informers .og-widget .og-close {
  position: absolute;
  right: 10px;
  top: 18px;
}
#informers .og-widget .widget-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
}
#informers .og-widget .og-count {
  display: flex;
  justify-content: space-around;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #4DDFFF;
}
#informers .og-widget .og-count span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.section-white {
  padding: 40px 10px;
}
.section-waves {
  background-image: url(../img/waves.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.section-head .sh2 {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
}
.section-head .btn-sl {
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding-top: 13px;
}
.section-head a {
  text-decoration: none;
  color: #fff;
} 
/*slider main 1 */


.btn-sl {
  width: 200px;
  height: 48px;
  background: #4DDFFF;
  border-radius: 5px;
  margin-top: 50px;
  color: #fff;
}
#slider1 .carousel-control-prev-icon {
  background-image: url(../img/sl1-prev.png);
  filter: none;
}
#slider1 .carousel-control-next-icon {
  background-image: url(../img/sl1-next.png);
  filter: none;
}
#slider1 .carousel-control-next, .carousel-control-prev {
  width: auto;
}
#slider1 .carousel-inner {
  padding-left: 30px;
  padding-right: 30px;
}
#slider1 .carousel-control-prev {
  left: -30px;
}
#slider1 .carousel-control-next {
  right: -30px;
}
#slider1 .sl-l{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slider1 .sl_head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  color: #3141D7;
}
#slider1 .sl_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #0C223C;
  margin-top: 25px;
}
#slider1 .sl-r img {
  max-width: 840px;
  max-height: 600px;
}
#slider1 .carousel-indicators [data-bs-target] {

  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/*section sports*/
.sports-wrap {
  display: flex;
  justify-content: space-between;
}
.sports-item {
  border-radius: 5px;
}
.sports-items-header {
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}
.sports-item h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #0C223C;
  margin-top: 8px;
}
.sports-item img {
  border-radius: 0 0 5px 5px;
}
.sports-item:hover {
  margin-top: -10px;
}
.sports-item:hover h3 {
  color: #4DDFFF;
}

/* DOCS */
.btn-docs {
  width: 100%;
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  border-radius: 5px;
  text-decoration: none;
  color:#fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-docs:visited {
  color:#fff;
}
.innums-head p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
.innums-inner {
  margin-top: 40px;
}
.innum-num {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 117px;
  text-align: center;
  color: #FFFFFF;
}
.innum-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}




/*carusel*/
.crusel-v1 a {
  text-decoration: none;
}
.crusel-v1 a .card-title {
  text-decoration: none;
}
.crusel-v1 .card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #0C223C;
  text-decoration: none;
}
.crusel-v1 .card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #35567D;
  text-decoration: none;
}
.cv1-item:hover {
  margin-top: -10px;
  z-index: 9999;
}
.cv1-item:hover .card-title {
  color: #4DDFFF;
}


/* proud */
#proud .owl-stage {
  padding-top: 15px;
  padding-bottom: 5px;
}

#proud .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#proud .owl-nav button  {
  width: 32px;
  height: 32px;
  background-size: cover;
}
#proud .owl-nav button.owl-prev {
  background-image: url(../img/sl1-prev.png);
  margin-left: -35px;
}
#proud .owl-nav button.owl-next {
  background-image: url(../img/sl1-next.png);
  margin-right: -35px;
}
#proud .card {
  border: none;
  box-shadow: 0 0 3px 1px rgba(221, 221, 221, 1);
}
#proud .crusel-v1 .card-title {
  font-size: 14px;
}
/* treners */
#treners .owl-stage {
  padding-top: 15px;
}

#treners .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#treners .owl-nav button  {
  width: 32px;
  height: 32px;
  background-size: cover;
}
#treners .owl-nav button.owl-prev {
  background-image: url(../img/sl1-prev.png);
  margin-left: -35px;
}
#treners .owl-nav button.owl-next {
  background-image: url(../img/sl1-next.png);
  margin-right: -35px;
}
#treners .card {
  border: none;
  box-shadow: 0 0 3px 1px rgba(221, 221, 221, 1);
}
#treners .card-body {
  height: 120px;
}
/* end of carusel*/




/* NEWS MAIN */
#news .news-item  {
  padding: 0 5px;
}
#news .news-item a, #news .card-date, .card-text-a  { text-decoration: none; }
#news .card { border-radius: 7px; }
#news .card-img-top {
    max-height: 165px;
}
#news .card-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #BACED0;
  padding: 0.5rem 1rem;
}
#news .card-body {
  height: 150px;
}
#news .card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0C223C;
}
#news .card-title-a {
  text-decoration: none;
  color: #0C223C;
}
#news .card:hover .card-title, #t-news .card:hover .card-title {
  color: #436DFF;
}
#news .card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #35567D;
}
#news .card-text-a {color: #35567D;}
#news .more-link {display: none;}
/* end of NEWS MAIN */

/* about main */
#about {margin-bottom: 100px; margin-top: 3em;}
#about .about-text h4{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0C223C;
}
#about .about-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #35567D;
}
#about .about-text .btn {
  color: #4DDFFF;
  border: 1px solid #4DDFFF;
}
#about .about-img {
  background-image: url(../img/about-school-img.jpg);
  background-size: cover;
  position: relative;
}


/* end of about main*/

/* pools */
#pulls .pool-item-wrap { margin-bottom: 15px; }
#pulls .pool-item {display: flex;}
#pulls .pool-num {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
}
#pulls .pool-name {
  padding-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #0C223C;
}
#pulls .pool-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #35567D;
}
/* end of pools */
/*useful-links*/
.ul-list {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0C223C;
}
.ul-list ul {
  margin-left: 0;
  padding-left: 0;
}
.ul-list a {
  color: #0C223C;
  text-decoration: none;
}
.ul-list a:hover {color: #4DDFFF;}
.ul-list li {
  list-style-type: none;
  padding-top: 1em;
}
.ul-list li span {
  padding-left: 10px;
  font-family: Roboto;
}


/*end of useful-links*/





/* footer */
#footer {
  background-color: #0C223C;
  color: #fff;
}
.frow1 {
  margin-top: 50px;
}
.fnav {
  padding-left: 0;
  font-size: 15px;
}
.fnav li {
  list-style: none;
  padding-top: 10px;
}
.fnav a {
  color: #fff;
  text-decoration: none;
}
.fnav a:hover {color: #4DDFFF;}

.fcol2>div {
  margin-bottom: 15px;
}
#footer .h_logo img {
  height: 50px;
  width: 50px;
}
.frow1 .fcol2 .h_logo a {
  text-decoration: none;
}
#footer .h_logo_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  width: 180px;
}

.fcol3 {
  display: flex;
  flex-direction: column;
}
#footer .btn-wr {
  width: 200px;
}
.fcol3 a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #3CC9DE;
}

.fbottom {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #4A6B92;
}
.fbottom p {margin-bottom: 0;}


/*   PAGES   */
.site-main {
}
.page-h1 h1, .entry-header h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
  margin-bottom: 30px;
}
/* INNER BLOCKS */
#t-inner h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
  margin-bottom: 30px;
}
#t-inner h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0C223C;
  margin-bottom: 20px;
}
#t-inner p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #35567D;  
}
.uzor-r, .uzor-l {
  position: relative;
}
.uzor-r img, .uzor-l .wp-block-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.uzor-r::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/usor-07.png');
    z-index: -1;
    left: 40%;
    top: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}
.uzor-l::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/usor-05.png');
    z-index: -1;
    right: 40%;
    top: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}
.inner40_60 {}

.list-v1 {
	list-style-image: url('../img/list-icon-1-dark.svg');
	padding-left: 0;
}

.list-v1 li {
	margin-bottom: 1em;
}
.list-v1 li a {
	text-decoration: none;
	color: #0C223C;
}
.list-info {
	list-style-image: url('../img/elips6.png');
	padding-left: 0;
	margin-left: 0;
}
.list-info h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #35567D;
}
/* page docs */
#t-inner .list-goszadanie:hover {
	list-style-image: url('../img/list-icon-1-light.svg');
}
#t-inner .list-goszadanie a:hover { color: #4DDFFF; }
/* page news */
#t-news {margin-bottom: 15px}
#t-news .card { padding-bottom: 10px;}
#t-news .card-date { 
	padding-left: 1rem;
	padding-top: 0.25rem;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #BACED0;
}
#t-news .card-body { height: 150px;}
#t-news .card-title-a {text-decoration: none;}
#t-news .card-body h5 {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #0C223C;
}
#t-news .card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #35567D;
}
#t-news .card-img-top { max-height: 165px;}
/* page conratulations */
#t-congrats .card {
  border: unset;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#t-congrats .card-body {
  padding-right: 3rem;
}
#t-congrats .card-title {
  font-size: 1.75rem;
}
#t-congrats .card-img-top {
  padding: 1rem 1rem;
}
#t-congrats .card-title-a {
  text-decoration: none;
  color: #436DFF;	

}

/* cat-page styles */
.cat-page {margin-bottom: 15px}
.cat-page .card { padding-bottom: 10px;}
.cat-page .card-date { 
  padding-left: 1rem;
  padding-top: 0.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #BACED0;
}
.cat-page .card-body { height: 200px;}
.cat-page .card-title-a {text-decoration: none;}
.cat-page .card-body h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0C223C;
}
/* end of cat-page styles */
/* END OF INNER BLOCKS */

/* POPUPS */
.nn-h3 {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
}
.nn-form {
  margin-top: 30px;
  padding: 10px 10%;
}
.nn-form input {
  background: rgba(60, 201, 222, 0.15);
  color: #3CC9DE;
  text-align: center;
}
.nn-form .form-control::placeholder {
  color: #3CC9DE;
}
.form-bottom-info, .nn-form p {
  text-align: center;
}
.form-bottom-info {
  color: #BACED0;
}
/* /POPUPS */

/* 404 */
#error-404 .content-404 {
  background-image: url('../img/usor-07.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#error-404 .content-404 h1 {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #436DFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 250px;
}
#error-404 .content-404 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #120852;
}
#error-404 .btn-sl {
  color: #fff;
  padding-top: 10px;
}
/* /404 */

/* MEDIA */
@media (min-width: 992px) {
  #menu-header {
    padding-right: 40px;
  }
  .header_info_contacts {
    width: 40%;
    justify-content: space-around;
  }
  #sports .owl-item {
    padding-top: 15px;
  }
  #slider1 .carousel-control-next-icon, #slider1 .carousel-control-prev-icon {
    height: 40px;
    width: 40px;
  }
  #about .about-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/usor-07.png');
    z-index: -1;
    left: 400px;
    top: 150px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .innum-num { 
    position: relative; 
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .innum-num:after {
    content: "";
    height: 15px; 
    width: 50px;
    background: #4DDFFF;
    position: absolute; 
    left:  calc(50% - 25px); 
    bottom: 0;
  }
  .about-text {padding-right: 30px; text-align: justify;}
  #t-news {margin-bottom: 50px}
}


@media (max-width: 991px) {
  .header_nav nav > .container {
    flex-wrap: wrap;
  }
  .header_nav nav > .container > #menu-header { order: 1; }
  .hbl_item { 
    padding: 5px; 
    width: 15%;
  }
  .hbl_item p {
    font-size: 13px;
    line-height: 15px;
  }
  .section-waves {
    background-image: url(../img/waves-md.svg);
    min-height: 780px;
  }
  .sh2 {margin-bottom: 30px;}
  .section-head .sh2 {margin-bottom: 0;}
  .sports-wrap{ 
    flex-wrap: wrap; 
    align-content: space-between;
    min-height: 430px;
  }
  .sports-item {}
  .sports-items-header h3 {
    margin: 0;
  }
  #news .news-item, #t-news .news-item {
    width: 318px;
  }
  #news .row, #t-news .row {
  	justify-content: center;
  }
  .btn-docs {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about {
    margin-bottom: 30px;
  }
  #sports .owl-nav {
    text-align: center;
    font-size: 40px;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .section-head a.btn-sl { display: none; }
  #informers .og-widget .og-close {right: 25px;}
  #informers .og-widget .widget-title {padding-right: 30px}
  .header_info_search form {
    width: 100%;
    margin-left: 0;
  }
  .header_info_contacts {
    display: none;
  }
  .h_logo img {
    height: 70px;
    width: 70px;
  }
  .h_logo_text {
    font-size: 16px;
    line-height: 19px;
  }
  .header_nav button.navbar-toggler {
    order: 1;
  }
  .h_b_line {height: 230px;}
  .hbl_wrap {flex-wrap: wrap;}
  .hbl_item {
    width: 33%;
  }
  #slider1 .sl_head {
    font-size: 30px;
    line-height: 35px;
  }
  #slider1 .sl_text {
    font-size: 18px;
    line-height: 21px;
  }
  #slider1 .btn-sl {
    margin-top: 10px;
  }
  #slider1 .sl-r {
    margin-top: 15px;
  }
  #slider1 .sl-r img {
    max-width: 100%;
  }
  #slider1 .btn-sl {
    align-self: center;
  }
  #slider1 .carousel-control-prev {
    left: 0;
  }
  #slider1 .carousel-control-next {
    right: 0;
  }
  #slider1 .carousel-indicators {margin-bottom: -1rem;}
  .section-waves {
    min-height: 600px;
    background-size: auto 100%;
    min-height: 600px;
  }
  #news .news-item, #t-news .news-item {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
 }
  #sports .sh2 {
    margin-top: 40px;
  }
  #sports .owl-nav {
    text-align: center;
    font-size: 30px;
    color: #fff;
  }
  .innums-head p {
    font-size: 18px;
  }
  .innums-inner {
    margin-top: 15px;
  }
  .innum-num {
    font-size: 50px;
    line-height: 3rem;
  }
  #t-congrats .card-body {
    padding-right: 1rem;
  }
  .site-main {height:unset;}
  #error-404 .content-404 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #error-404 .content-404 h1 {
    font-size: 100px;
    line-height: 125px;
  }
  #error-404 .content-404 p {
    font-size: 16px;
    line-height: 20px;
  }
}