/*imports*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* common styles */


/* header area styles */
.header_info {
  background-color: #0C223C;
  color: #fff;
}
.header_info .navbar {
  padding-top: 7px;
  padding-bottom: 7px;
}
.header_info_search form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.header_info_search input {
  max-width: 356px;
  width: 100%;
  height: 26px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #9E9C9C;
}
.header_info_search button {
  position: absolute; 
  top: 0;
  width: 26px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header_info_search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #0C223C;
}
.header_info_contacts {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.header_info_links {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #4DDFFF;
}

.h_logo_text {
  padding-left: 10px;
  max-width: 310px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #35567D;
  white-space: normal;
}
.header_baner {
  background: rgb(126,182,229);
  background: linear-gradient(90deg, rgba(126,182,229,1) 0%, rgba(84,114,166,1) 100%);
  
}
.h_b_one {
  height: 300px;
  background-image: url(../img/header-bg.jpg);
}
.h_b_line {
  background: linear-gradient(90deg, #436DFF 0%, #3141D7 100%);
  height: 150px;
}
.h_b_line .hbl_wrap {
  height: 100%;
}
.hbl_item {
  height: 100px;
  width: 170px;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(15, 52, 90, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: #436DFF;
  font-size: 30px;
}
.hbl_item p {
  font-size: 14px;
  color: #0C223C;
}